.navbar.navbar-expand-md.navbar-light.fixed-top
  a.navbar-brand.mx-auto(href='https://yuanchi17.github.io/index.html') YUAN

style
  :sass
    .navbar
      border-bottom: solid 1px rgb(230, 230, 230)
      width: 100%
      background-color: #ffffff
    a
      color: #333333
      font-weight: bold