.navbar.navbar-expand-md.navbar-light
  a.navbar-brand(href="./") YUAN
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav
    ul.navbar-nav.justify-content-end.mr-auto
      li.nav-item
        a.nav-link.d-flex.align-items-center.mx-2(href="./")
          img(src="https://i.imgur.com/mGeUVLU.png")
          span.span-en.px-0.pl-2 Home
      li.nav-item
        a.nav-link.d-flex.align-items-center.mx-2(href="./works.html")
          img(src="https://i.imgur.com/inxUwKm.png")
          span.px-0.pl-2 作品集
      li.nav-item.dropdown
        a.nav-link.d-flex.align-items-center.mx-2.dropdown-toggle(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
          img(src="https://i.imgur.com/U3XZLD0.png")
          span.px-0.pl-2 社交網站
        .dropdown-menu.dropdown-menu-right
          a.dropdown-item(href="mailto:joyceleeya@gmail.com" target="view_window")
            img.pb-1.mr-2(src="https://i.imgur.com/aXxu2fD.png")
            span Email
          a.dropdown-item(href="https://www.youtube.com/channel/UC0Wem7bts97LKT-2mb3c4Kg" target="view_window")
            img.pb-1.mr-2(src="https://i.imgur.com/ixziQcD.png")
            span YouTube

style
  :sass
    .navbar
      border-bottom: solid 1px rgb(230, 230, 230)
      width: 100%
    a, span
      color: #333333
      font-weight: bold
    .span-en
      font-weight: 500
    ul
      width: 100%