extends layout

block beforehtml
  - const title = '排球記分板'

block style
  style
    :sass
      [v-cloak]
        display: none

      #app
        h3
          font-weight: bold

block content
  include /navbar
  #app.container.pt-3(v-cloak)
    h3.text-center 排球記分板
    h5.text-center.mb-3 請選擇紀錄方式
    
    #record.row
      .col-6
        .card
          .card-body
            h5.card-title.text-center.m-0 簡易版
            hr
            .card-subtitle.mb-2.text-center 只紀錄團隊的總得失分
            a.btn.btn-primary.btn-block(href="./volleyball-scoreboard-simple.html" target="_blank") 打球囉
      .col-6
        .card
          .card-body
            h5.card-title.text-center.m-0 詳細版
            hr
            .card-subtitle.mb-2.text-center 紀錄個人及團隊的總得失分
            a.btn.btn-primary.btn-block(href="./volleyball-scoreboard-detail.html" target="_blank") 打球囉

block script
  script.
    const vm = new Vue({ // eslint-disable-line no-unused-vars
      el: '#app',
      data: {},
    })
