extends layout

block beforehtml
  - const title = '作品集'

block style
  style
    :sass
      [v-cloak]
        display: none

      #app
        h1, h5, a
          font-weight: bold
        .card
          .detail
            opacity: 0
            position: absolute
            transition: 0.1s
            z-index: 2
            h5, a
              color: #ffffff
          &:before
            background-color: rgba(black, 0.8)
            content: ""
            display: block
            height: 100%
            opacity: 0
            position: absolute
            transition: 0.5s
            width: 100%
            z-index: 1
          &:hover
            .detail, &:before
              display: block
              opacity: 1
      

block content
  include /navbar
  #app.content.container.p-3(v-cloak)
    .d-flex.align-items-center.mb-3
      img.mr-3(src="https://i.imgur.com/FU5VL1T.png")
      h1.m-0 作品集
    .works.row
      section.col-md-4.col-sm-12.mb-3(v-for="(work, wId) in works" :key="wId")
        .card.d-flex.justify-content-center
          img.card-img-top(:src="`https://i.imgur.com/${work.image}.png`" alt="")
          .detail.align-self-center.d-flex.flex-column.align-items-center
            h5.mx-4.mb-3 {{ work.text }}
            a.btn.btn-primary(:href="work.url" target="_blank") {{ work.button }}
          .card-footer
            h5.text-center.m-0 {{ work.title }}

block script
  script.
    const vm = new Vue({
      el: '#app',
      data: {
        works: [
          {title: '猜數字遊戲', image: 'uWxlelx', url: './bulls-and-cows.html', text: '1A2B 解題工具', button: '我要玩'},
          {title: '17 來玩板', image: 'C29rqFO', url: 'https://line.me/R/ti/p/@117idlhz', text: '用 LINE Chatbot 做一個簡易的滑板介紹及查詢', button: '加入 chatbot'},
        ]
      },
      mounted () {
      },
      computed: {
      },
      methods: {
      }
    })
