extends /layout

block beforehtml
  - var title = '3 秒後自動跳轉'

block style
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/css/bootstrap.min.css")
  style
    :sass
      html, body
        height: 100%
        width: 100vw
      body
        background-color: #fff7dd
        background-image: linear-gradient(to bottom, #ffffff 0%,#fff7dd 50%,#fff0c3 100%)
        background-attachment: fixed
      .img-loading
        display: block
        margin: 0 auto
        width: 192px
        height: 192px

block content
  #app.container.my-3
    img.img-loading(src="https://storage.googleapis.com/youbike-chatbot-photo/theme-golden-age/icons/redirect-loading.png")
    h3.text-center.my-3 3 秒後自動跳轉

block script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js")
  script(src="https://static.line-scdn.net/liff/edge/2/sdk.js")
  script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-39556213-5') 
  script.
    window.dataLayer = window.dataLayer || []
    function gtag () { window.dataLayer.push(arguments) }
    gtag('js', new Date())
    gtag('config', 'UA-39556213-5',{
      app_name: '',
      send_page_view: false,
      transport_type: 'beacon',
    })
    const loginPromise = (async () => {
      await liff.init({ liffId: '1653630254-RDAMb0PZ' })
      if (!liff.isLoggedIn()) {
        liff.login({ redirectUri: location.href })
        return await new Promise(resolve => {}) // 永遠不會結束的 Promise
      }
      const profile = await liff.getProfile()
      return profile
    })()
    window.sleep = t => new Promise(resolve => { setTimeout(resolve, t) })

    const redirect = (async () => {
      const profile = await loginPromise
      // gtag
      gtag('event', 'screen_view', { screen_name: '引導到YB官帳' })
      gtag('event', '引導到YB官帳', {
        event_category: '引導到YB官帳',
        event_label: _.get(profile, 'displayName', '無暱稱'),
      })
      await window.sleep(2000)
      liff.openWindow({ url: 'https://line.me/R/ti/p/@youbike' })
      await window.sleep(1000)
      liff.closeWindow()
    })()
    redirect()