extends /layout

block beforehtml
  -
    const title = '減碳決心傳下去'
    const description = '減碳決心傳下去'

block style
  meta(name="description" content=description)
  meta(property="og:description", content=description)
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4/dist/css/bootstrap.min.css")
  style
    :sass
      html, body
        height: 100%
        width: 100vw
      body
        background-color: #fff7dd
        background-image: linear-gradient(to bottom, #ffffff 0%,#fff7dd 50%,#fff0c3 100%)
        background-attachment: fixed
      .img-loading
        display: block
        margin: 0 auto
        width: 192px
        height: 192px

block content
  #app.container.my-3
    img.img-loading(src="https://storage.googleapis.com/youbike-chatbot-photo/theme-golden-age/icons/redirect-loading.png")
    h3.text-center.my-3 3 秒後自動跳轉

block script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js")
  script(src="https://static.line-scdn.net/liff/edge/2/sdk.js")
  script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-39556213-5')
  script.
    // gtag
    window.dataLayer = window.dataLayer || []
    function gtag () { window.dataLayer.push(arguments) }
    gtag('js', new Date())
    window.gtagSetLineId = lineId => {
      gtag('config', 'UA-39556213-5', {
        app_name: '',
        send_page_view: false,
        transport_type: 'beacon',
        user_id: lineId,
      })
    }

    const loginPromise = (async () => {
      await liff.init({ liffId: '1653630254-RDAMb0PZ' })
      if (!liff.isLoggedIn()) {
        liff.login({ redirectUri: location.href })
        return await new Promise(resolve => {}) // 永遠不會結束的 Promise
      }
      const profile = await liff.getProfile()
      if (!profile.userId) throw new Error('無法取得 userId')
      if (window.gtagSetLineId) window.gtagSetLineId(profile.userId)
      return profile
    })()
    window.sleep = t => new Promise(resolve => { setTimeout(resolve, t) })

    const redirect = async () => {
      await loginPromise
      gtag('event', 'screen_view', { screen_name: '跳轉YB官方帳號' })
      liff.openWindow({ url: 'https://line.me/R/ti/p/@youbike' })
      await window.sleep(1000)
      liff.closeWindow()
    }
    redirect()